.button {
   padding: 15px 30px;
   font-weight: var(--fw-bold);
   text-transform: capitalize;
   color: white;
   background-color: var(--color-primary-cyan);
   transition: opacity ease .2s;
   &:hover {
      opacity: 0.6;
   }
}