.header {
   position: fixed;
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   user-select: none;
   &_container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
   }
   &_logo {
      font-weight: var(--fw-bold);
      font-size: 30px;
      flex: 0 0 120px;
   }
   &_menu {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      color: var(--color-neutral-grayishViolet);
      font-weight: var(--fw-bold);
      flex: 1 1 100%;
      @media (max-width: 700px) {
         display: none;
         position: absolute;
         &__active {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--color-primary-violet);
            border-radius: 15px;
         }
      }
   }
   &_login {
      display: flex;
      gap: 20px;
      @media (max-width: 700px) {
         flex-direction: column;
      }
   }
}
