.form {
   margin-bottom: -65px;
   &_container {
      position: relative;
      z-index: 1;
   }
   &_body {
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      background: var(--color-primary-violet) url(./../../../assets/images/bg-boost-desktop.svg)
         no-repeat center / cover;
      border-radius: 10px;
   }
   &_label {
      position: relative;
      flex: 1 1 auto;
   }
   &_field {
      width: 100%;
      position: relative;
      padding: 0 20px;
      min-height: 50px;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      border-radius: 10px;
      border: 2px solid black;
      &__error {
         border-color: var(--color-secondary-red);
      }
   }
   &_error {
      position: absolute;
      left: 0;
      bottom: -22px;
      color: var(--color-secondary-red);
      font-size: 12px;
   }
   @media (min-width: 566px) {
      &_body {
         gap: 20px;
         padding: 40px;
         flex-direction: row;
      }
   }
}
