.footer {
   padding: 50px 0;
   background-color: var(--color-neutral-violet);
   color: white;
   &_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }
   &_logo {
      font-weight: var(--fw-bold);
      font-size: 30px;
   }
   &_nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      flex: 0 1 70%;
   }
   &_columns {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
      text-align: center;
   }
   &_column {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   @media (min-width: 400px) {
      &_columns {
         flex: 0 0 60%;
         text-align: left;
         flex-direction: row;
         justify-content: space-between;
      }
   }
   @media (min-width: 500px) {
      &_container {
         justify-content: space-between;
      }
      &_logo {
         flex: 0 0 150px;
      }
      
      &_column {
         flex-basis: 120px;
      }
   }
   @media (min-width: 560px) {
      &_container {
         align-items: start;
         flex-direction: row;
      }
   }
   @media (min-width: 810px) {
      &_nav {
         flex-direction: row;
      }
   }
}

.column {
   font-size: 0.9rem;
   &_title {
      font-weight: var(--fw-bold);
   }
   &_list {
      color: var(--color-neutral-gray);
      line-height: 2rem;
      text-transform: capitalize;
   }
   &_item {
      transition: color ease 0.2s;
      @media (any-hover: hover) {
         &:hover {
            color: white;
         }
      }
   }
   &_link {
   }
}

.socials {
   display: flex;
   align-items: center;
   gap: 20px;
   &_icon {
      fill: var(--color-neutral-gray);
   }
   @media (min-width: 500px) {
      align-self: start;
   }
}
