.hero {
   padding: 90px 0px 60px;
   overflow-x: hidden;
   &_container,
   &_body,
   &_info {
      display: flex;
   }
   &_container {
      flex-direction: column-reverse;
      gap: 2rem;
   }
   &_body,
   &_info {
      flex-direction: column;
   }
   &_body {
      gap: 1.5rem;
      align-items: center;
   }
   &_info {
      gap: 0.6rem;
      text-align: center;
   }
   &_title {
      font-size: 36px;
      color: var(--color-primary-violet);
      font-weight: var(--fw-bold);
      line-height: 120%;
   }
   &_text {
      color: var(--color-neutral-grayishViolet);
      line-height: 150%;
   }
   &_background {
      @media (max-width: 790px) {
         width: 100%;
         img {
            width: 100%;
         }
      }
      @media (max-width: 500px) {
         width: 120%;
      }
      @media (max-width: 400px) {
         width: 140%;
      }
   }
   @media (min-width: 790px) {
      padding-top: 120px;
      &_container {
         flex-direction: row;
         align-items: center;
      }
      &_body {
         align-items: flex-start;
         flex: 1 0 60%;
         gap: 2rem;
      }
      &_info {
         text-align: left;
         max-width: 500px;
      }
      &_title {
         font-size: 66px;
      }
   }
}
